@use "@angular/material" as mat;

.button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icon-main-color);
  cursor: pointer;
  transition: color var(--hover-transition),
    background-color var(--hover-transition);
  &:hover {
    color: var(--icon-hover-color);
    background-color: var(--icon-background-hover-color);
  }
  &:active {
    color: var(--icon-hover-color);
    background-color: var(--icon-background-active-color);
  }
}
