<h2 mat-dialog-title class="form-title">Редактирование</h2>
<div mat-dialog-content class="form-dialog user-edit">
  <form [formGroup]="editForm" (keydown.enter)="onSave()">
    <div class="form-item">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Имя</mat-label>
        <input #firstInput matInput formControlName="name" tabindex="-1" />
      </mat-form-field>
      <div
        class="hide"
        [class.visible]="
          editForm.get('name')?.invalid && editForm.get('name')?.touched
        "
      >
        <small *ngIf="editForm.get('name')?.errors?.['required']">
          Имя обязательно
        </small>
        <small *ngIf="editForm.get('name')?.errors?.['minlength']">
          Минимальное количество символов: 2
        </small>
      </div>
    </div>

    <div class="form-item">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="surname" tabindex="-1" />
      </mat-form-field>
      <div
        class="hide"
        [class.visible]="
          editForm.get('surname')?.invalid && editForm.get('surname')?.touched
        "
      >
        <small *ngIf="editForm.get('surname')?.errors?.['required']">
          Фамилия обязательна
        </small>
        <small *ngIf="editForm.get('surname')?.errors?.['minlength']">
          Минимальное количество символов: 2
        </small>
      </div>
    </div>

    <div class="form-item">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" tabindex="-1" />
      </mat-form-field>
      <div
        class="hide"
        [class.visible]="
          editForm.get('email')?.invalid && editForm.get('email')?.touched
        "
      >
        <small>{{ getEmailErrorMessage() }}</small>
      </div>
    </div>
    <div class="form-item">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Телефон</mat-label>
        <input matInput formControlName="phone" tabindex="-1" />
      </mat-form-field>
      <div
        class="hide"
        [class.visible]="
          editForm.get('phone')?.invalid && editForm.get('phone')?.touched
        "
      >
        <small
          class="hide"
          [class.visible]="
          editForm.get('phone')?.errors?.['pattern']
        "
        >
          Некорректный номер телефона
        </small>
      </div>
    </div>

    <div class="buttons">
      <button (click)="onCancel()" class="form__button form__button_white">
        Отмена
      </button>
      <button
        (click)="onSave()"
        [disabled]="!editForm.valid"
        class="form__button form__button_blue"
      >
        Сохранить
      </button>
    </div>
  </form>
</div>
